body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 15px;
  color: gray;
  text-align: center;
}

label {
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.title {
  text-align: center;
  color: blue;
  padding: 15px;
  margin: 0;
  background-color: #eeeeee;
  text-shadow: 3px 3px aqua;
}

form,.answer {
  text-align: center;
  padding: 20px;
  width: 90%;
  margin-top: 0;
  padding-top: 0;
}

input {
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

#tweet-area {
  text-align: center;
}